.topnav {
  /* float: left; */
  padding: 14px 16px;
  font-size: 20px;
  text-align: left;
  background-color: #ff7745;
}

.topnav-start {
  /* float: left; */
  padding: 14px 16px;
  font-size: 20px;
  text-align: left;
}

.topnav-right {
  float: right;
  padding: 14px 16px;
  font-size: 16px;
}

.topnav-right a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-align: center;
  padding: 14px 16px;
  font-weight: bolder;
}

.topnav-right-start {
  float: right;
  padding: 14px 16px;
  font-size: 16px;
}

.topnav-right-start a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  text-align: center;
  padding: 14px 16px;
  font-weight: bolder;
}

.color-black {
  color: black;
}

.login-link a {
  color: #fff;
}

@media only screen and (min-width: 600px) {
  .show {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 22px;
  }
  .topnav .topnav-right {
    display: flex;
    flex-direction: column;
    background-color: #ff774597;
    border-radius: 10px;
  }

  .topnav .topnav-right a {
    display: block;
    font-size: 14px;
  }

  .hide {
    display: none;
  }
}
